body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green {
  background-color: green;
  color: white;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.pagination-buttons button {
  margin: 0 5px; 
}

.full-width {
  width: 100%;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 10px;
}
